<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymelaf/layout"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extrasspringsecurity4">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html ;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initialscale=1, maximum-scale=1, user-scalable=no" />
    <title>Home</title>
    <link href="/webjars/materializecss/0.96.0/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="../../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <ul id="lang-dropdown" class="dropdown-content">
        <li><a href="?lang=pl">Polski</a></li>
        <li><a href="?lang=en">Angielski</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">My cars</a>
            <ul id="navigation" class="left hide-on-med-and-down">
                <li><a th:href="@{/home}" href="/home" th:text="#{menu.home}">Home</a></li>
                <li><a th:href="@{/profile}" href="/profile" th:text="#{menu.profile}">Profile</a></li>
                <li><a th:href="@{/profile/cars}" th:text="#{menu.cars}">Cars</a></li>
                <li><a th:href="@{/statistics}" th:text="#{menu.statistics}">Statistics</a></li>
                <li>
                    <form method="post" th:action="@{/logout}">
                        <input type="submit" th:value="#{menu.logout}" class="logout"/>
                    </form>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="lang-dropdown" th:text="#{menu.language}">
                        <i class="small material-icons" >language</i>
                        Language
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section layout:fragment="content">
            <p th:text="Thymeleaf">HTML</p>
    </section>
    <script src="/webjars/jquery/2.1.4/jquery.js"></script>
    <script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</body>
</html>
<!--https://www.pexels.com/photo/pacificcoasthighway-california-mustang-92108/-->