<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymelaf/layout">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html ;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initialscale=1, maximum-scale=1, user-scalable=no" />
    <title>Home</title>
    <link href="/webjars/materializecss/0.96.0/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="../../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">My cars</a>
            <ul id="navigation" class="left hide-on-med-and-down">
                <li><a th:href="@{/home}" href="/home">Home</a></li>
                <li><a th:href="@{/profile}" href="/profile">Profile</a></li>
                <li><a href="sass.html">Cars</a></li>
                <li><a href="sass.html">Statistics</a></li>
                <li><a href="sass.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <section layout:fragment="content">
            <p th:text="Thymeleaf">HTML</p>
    </section>
    <script src="/webjars/jquery/2.1.4/jquery.js"></script>
    <script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</body>
</html>